body {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  grid-template-rows: 50px minmax(calc(100vh - 80px), auto) 30px;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.trybewarts-login {
  display: flex;
}

main , #evaluation-form {
  background-color: silver;
  display: flex;
}

footer {
  background-color: white;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}
